@import "tailwindcss";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman";
  --font-mono: "Geist Mono", ui-monospace, monospace, Monaco, Consolas;
}

:root {
  font-family: "Geist", ui-sans-serif, system-ui, sans-serif;
}
